
<footer>
    <div class="footer">
    <p>Copyright &copy; <% new Date().getFullYear() %> ViNGame</p>
</div>
</footer>
<script>
    document.getElementById('goback').addEventListener('click', function() {
      window.history.back(); // This will go back to the previous page without refreshing.
    });
    
    </script>
    
</body>

</html>