<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViNGame</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Reset Game</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>