<%-include("partials/header")  %>
<div class="about">
<h1>What is Sudoku?</h1>
<p>Sudoku is a classic number puzzle that originated in Japan. The goal is simple: fill a 9x9 grid with digits so that each column, each row, and each of the nine 3x3 subgrids (also called "regions" or "boxes") contains all of the digits from 1 to 9. Sounds easy? Think again! Sudoku puzzles come in varying levels of difficulty, from beginner-friendly to brain-teasingly challenging.</p>

<h1>How to Play:</h1>
<ol>
    <li><span>Fill the Grid: </span>Place the numbers 1 through 9 in each row, column, and 3x3 subgrid without repeating any numbers.</li>
    <li><span>Use Logic: </span>Sudoku is all about logical deduction. Analyze the existing numbers and use deductive reasoning to fill in the blanks.</li>
    <li><span>Submit Your Answer: </span>Once you think you've solved the puzzle, hit the submit button to check your answers and begin the Mistake Correction Challenge.</li>
    <li><span>Correct Mistakes: </span>Identify and correct mistakes by clicking on the "Go Back" button. Submit again until you achieve a perfect solution.</li>

    <p>Ready to embark on a Sudoku adventure? Start playing now and test your skills in the Mistake Correction Challenge!</p>
</ol>
</div>
<%-include("partials/footer")  %>